<form [formGroup]="passwordForm" (ngSubmit)="updatePassword()" class="userDialogForm">

    <mat-icon aria-hidden="false" class="titleIcon" fontIcon="password"></mat-icon>
    <h2>Password</h2>

    <mat-form-field>
        <mat-label>Enter your password</mat-label>
        <input [type]="hidePassword ? 'password' : 'text'" matInput placeholder="password123" formControlName="password"
            required>
        <button mat-icon-button type="button" matSuffix (click)="hidePassword = !hidePassword">
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="passwordForm.get('password')?.hasError('required')">Password is required!</mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Confirm password</mat-label>
        <input [type]="hideConfirmPassword ? 'password' : 'text'" matInput placeholder="password123"
            formControlName="confirmPassword" required>
        <button mat-icon-button type="button" matSuffix (click)="hideConfirmPassword = !hideConfirmPassword">
            <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="passwordForm.get('confirmPassword')?.hasError('required')">Comfirm password is
            required!</mat-error>
        <mat-error *ngIf="passwordForm.get('confirmPassword')?.value">{{passwordsAreTheSame()}}</mat-error>
    </mat-form-field>

    <div class="actions">

        <button type="submit" mat-raised-button color="accent" style="margin: 10px;">
            <span *ngIf="!isLoading">Update password</span>
            <mat-progress-spinner *ngIf="isLoading" color="primary" style="width: 20px; height: 20px;"
                mode="indeterminate" value="30">
            </mat-progress-spinner>
        </button>

        <button mat-raised-button mat-dialog-close color="warn">Cancel</button>

    </div>

</form>