<div class="container_form">

    <form *ngIf="!isSentCode" [formGroup]="updatePasswordForm" (ngSubmit)="sendEmailCodeForForgottenPassword()">

        <mat-icon aria-hidden="false" class="personIcon" fontIcon="password"></mat-icon>

        <h1>Forgotten password</h1>

        <p>A code valid for 15 minutes will be sent to your email.</p>

        <mat-form-field>
            <mat-label>Enter your email</mat-label>
            <input matInput placeholder="pat@example.com" formControlName="email" required>
            <mat-error *ngIf="updatePasswordForm.get('email')?.hasError('required')">Email is required!</mat-error>
            <mat-error *ngIf="updatePasswordForm.get('email')?.hasError('invalid')">Email is invalid!</mat-error>
        </mat-form-field>

        <button type="submit" mat-raised-button color="primary" style="margin: 10px;">
            <span *ngIf="!isLoadingSend">Send code</span>
            <mat-progress-spinner *ngIf="isLoadingSend" color="accent" style="width: 20px; height: 20px;"
                mode="indeterminate" value="30">
            </mat-progress-spinner>
        </button>

        <a routerLink="/auth/login">Login</a>

    </form>

    <form *ngIf="isSentCode" [formGroup]="updatePasswordForm" (ngSubmit)="updatePassword()">

        <mat-icon aria-hidden="false" class="personIcon" fontIcon="password"></mat-icon>

        <h1>Update password</h1>

        <mat-form-field>
            <mat-label>Code</mat-label>
            <input type="number" matInput placeholder="12345678" formControlName="code" required>
            <mat-error *ngIf="updatePasswordForm.get('code')?.hasError('required')">Code is required!</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Enter your password</mat-label>
            <input [type]="hidePassword ? 'password' : 'text'" matInput placeholder="password123"
                formControlName="password" required>
            <button mat-icon-button type="button" matSuffix (click)="hidePassword = !hidePassword">
                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="updatePasswordForm.get('password')?.hasError('required')">Password is
                required!</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Confirm password</mat-label>
            <input [type]="hideConfirmPassword ? 'password' : 'text'" matInput placeholder="password123"
                formControlName="confirmPassword" required>
            <button mat-icon-button type="button" matSuffix (click)="hideConfirmPassword = !hideConfirmPassword">
                <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="updatePasswordForm.get('confirmPassword')?.hasError('required')">Comfirm password is
                required!</mat-error>
            <mat-error *ngIf="updatePasswordForm.get('confirmPassword')?.value">{{passwordsAreTheSame()}}</mat-error>
        </mat-form-field>

        <div class="actions">

            <button type="submit" mat-raised-button color="primary" style="margin: 10px;">
                <span *ngIf="!isLoadingUpdate">Update</span>
                <mat-progress-spinner *ngIf="isLoadingUpdate" color="accent" style="width: 20px; height: 20px;"
                    mode="indeterminate" value="30">
                </mat-progress-spinner>
            </button>

            <button type="button" (click)="sendEmailCodeForForgottenPassword()" mat-raised-button color="accent"
                style="margin: 10px;">
                <span *ngIf="!isLoadingSend">Resend code</span>
                <mat-progress-spinner *ngIf="isLoadingSend" color="primary" style="width: 20px; height: 20px;"
                    mode="indeterminate" value="30">
                </mat-progress-spinner>
            </button>

            <button type="button" (click)="isSentCode = false" mat-raised-button color="accent" style="margin: 10px;">
                Alter email
            </button>

        </div>

    </form>

</div>